.appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainContent { 
    flex-grow: 1; 
    padding: 2rem;
    overflow-y: auto; 
    display: flex;
    justify-content: center;
}