.shortcutShowcase {
    background: transparent;
    border: none;
    padding: 0;
    text-align: center;
}

.shortcutShowcase h2 {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.shortcutShowcase p {
    margin-bottom: 1.5rem;
    color: var(--subtext-color);
}

.shortcutInputWrapper {
    width: 300px;
    margin-inline: auto;
    display: flex;
    align-items: stretch;
    background: var(--shortcut-bg-gradient);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.shortcutInputWrapper:hover {
    border-color: var(--shortcut-hover-border-color);
}
.shortcutInputWrapper:has(input:focus) {
    box-shadow: 0 0 0 3px var(--input-focus-shadow);
    border-color: var(--primary-color);
}

.shortcutIconContainer {
    padding: 0.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border-color);
}

.shortcutIcon {
    width: 44px;
    height: 44px;
    filter: invert(65%) sepia(9%) saturate(264%) hue-rotate(170deg) brightness(91%) contrast(87%);
}
[data-theme="light"] .shortcutIcon {
    filter: none;
}

.shortcutInput {
    flex-grow: 1;
    background: transparent;
    border: none;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: var(--text-color);
    padding: 1rem;
    cursor: pointer;
}
.shortcutInput:focus {
    outline: none;
}
.shortcutInput::placeholder {
    color: var(--subtext-color);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: normal;
    font-family: var(--font-family);
}